%h1 Search

= form_with :model => @search do |f|
  .mb-2
    = f.label :dep
    = f.text_field :dep
  .mb-2
    = f.label :arr
    = f.text_field :arr
  .mb-2
    = f.label :dep_on
    = f.date_field :dep_on
  .mb-2
    = f.label :currency
    = f.collection_select :currency, Currency.all, :type, :type
  .mb-2
    = f.submit :search

- if cached_searches.any?
  %h3 Cached
  %ul.list-unstyled
    - cached_searches.each do |cached_search|
      %li= button_to cached_search.filename, load_cached_searches_path(:path => cached_search.path), :class => 'btn btn-outline-primary'
