%h1= @route

.flights{:data => {:controller => 'flights', :flights_flights_data_value => @flights.index_by(&:id).to_json(:include => :fare)}}

  .mb-3
    = label_tag :max_points
    = number_field_tag :max_points, nil, :data => {:flights_target => 'maxPoints', :action => 'flights#filterFlights'}
  .mb-3
    = label_tag :min_dep_at
    = number_field_tag :min_dep_at, nil, :data => {:flights_target => 'minDepAt', :action => 'flights#filterFlights'}
  .mb-3
    = label_tag :max_dep_at
    = number_field_tag :max_dep_at, nil, :data => {:flights_target => 'maxDepAt', :action => 'flights#filterFlights'}

  %table.table
    %thead
      %tr
        %th Dep
        %th Arr
        %th Dep at
        %th Arr at
        %th Points
        %th Cash
    %tbody
      - @flights.each do |flight|
        %tr[flight]{:data => {:flights_target => 'flight', :id => flight.id}}
          %td= flight.dep
          %td= flight.arr
          %td= flight.dep_at
          %td= flight.arr_at
          %td= flight.fare.points
          %td= number_to_currency(flight.fare.cash / 100.to_f)
