%h1= @route

.flights{:data => {:controller => 'flights', :flights_flights_data_value => @flights.index_by(&:id).to_json(:include => :fare)}}

  .mb-3.btn-group
    Departure Date
    - @flights.map(&:dep_at).map(&:to_date).uniq.sort.each do |date|
      - input_id = "dep_date_#{date.to_s.underscore}"
      = check_box_tag input_id, :value => date.to_s, :checked => true, :class => 'btn-check', :data => {:flights_target => 'depDate', :action => 'flights#filterFlights'}
      = label_tag input_id, date.to_s, :class => 'btn btn-outline-primary'
  .mb-3
    = label_tag :max_points
    = number_field_tag :max_points, nil, :data => {:flights_target => 'maxPoints', :action => 'flights#filterFlights'}
  - %i[dep arr].each do |dep_arr|
    - %i[min max].each do |min_max|
      .mb-3
        = label_tag "#{min_max}_#{dep_arr}_at"
        = number_field_tag "#{min_max}_#{dep_arr}_at", nil, :data => {:flights_target => [min_max, dep_arr, 'at'].join('_').camelize(:lower), :action => 'flights#filterFlights'}
  .mb-3
    = label_tag :max_duration
    = number_field_tag :max_duration, nil, :data => {:flights_target => 'maxDuration', :action => 'flights#filterFlights'}

  %table.table
    %thead
      %tr
        %th Price
        %th Itenerary
        %th Duration
    %tbody
      - @flights.each do |flight|
        %tr[flight]{:data => {:flights_target => 'flight', :id => flight.id}}
          %td
            - if flight.fare&.points
              %span.points= flight.fare.points
              - if flight.fare&.cash
                \|
                %span.cash= number_to_currency(flight.fare.cash / 100.to_f)
              = percent_progress_bar(flight.points_percent)
          %td
            = flight.dep
            = flight.dep_at
            \-
            = flight.arr_at
            = flight.arr
          %td
            - dur = ActiveSupport::Duration.build(flight.duration.minutes).parts
            #{dur.fetch(:hours)}h #{dur.fetch(:minutes, 0)}m
            = percent_progress_bar(flight.duration_percent)
